<div class="my-5">
  <div class="p-3 text-right">
    <button
      class="btn btn btn-outline-danger font-weight-bold text-uppercase"
      (click)="logoutScript()"
    >
      logout
    </button>
  </div>
  <div class="p-3 text-center">
    <button
      class="btn btn-outline-info font-weight-bold text-uppercase"
      (click)="displayMembership()"
    >
      Refresh membership
    </button>
  </div>
  <div class="py-5">
    <div class="p-3 text-center">
      <h2
        class="h2 text-danger bg-white"
        *ngIf="membershipStatus !== undefined"
      >
        {{ membershipStatus }}
      </h2>
    </div>
  </div>
  <div class="form">
    <div class="form-row">
      <div class="col-md-4 p-3">
        <button
          class="btn btn-block btn-success font-weight-bold text-uppercase"
          routerLinkActive="active"
          routerLink="/join"
        >
          join membership
        </button>
      </div>

      <div class="col-md-4 p-3">
        <button
          class="btn btn-block btn-warning font-weight-bold text-uppercase"
          routerLink="/update"
          routerLinkActive="active"
        >
          update membership
        </button>
      </div>

      <div class="col-md-4 p-3">
        <button
          class="btn btn-block btn-danger font-weight-bold text-uppercase"
          (click)="delete()"
        >
          delete membership
        </button>
      </div>
    </div>
  </div>
</div>
